// colors :
$color-ddd :rgb(255, 120, 0);
$orange1 : #F16718;
$orange2 :#FF9B62;
$gris1 : #162542;
$gris2 : #7B8BAD;
$gris3 : #E8EFF2;




// polices :
$font-ddd : 'Monotype Corsiva';
$font-Parisienne :'Parisienne', cursive;
$barlow : 'Barlow', sans-serif;